/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-wp-licence-app {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.disable-panelbody {
	opacity: 0.5;
	pointer-events: none;
	position: relative;
	z-index: 1;

	&::before {
		z-index: 2;
		top: 31px;
		right: 20px;
		left: 15px;
		position: absolute;
		content: "Only available in Paid Version.";
		color: red;
	}
}
